<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<h1>BLOG LIST</h1>



<div class="notify">
    <div th:if="${success}">
        <span th:text="${success}"></span>
    </div>
</div>



<table id = "blog">
    <thead>
    <tr>
        <th>STT</th>
        <th>Title</th>

        <th>Edit</th>
        <th>Delete</th>
        <th>View</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="row,rowStat : ${blog}">
        <td th:text="${row.getId()}"></td>

        <td th:text="${row.getTitle()}"></td>

        <td><a th:href="@{/blog/{id}/edit(id=${row.getId()})}">edit</a></td>
        <td><a th:href="@{/blog/{id}/delete(id=${row.getId()})}">delete</a></td>
        <td><a th:href="@{/blog/{id}/view(id=${row.getId()})}">view</a></td>
    </tr>
    </tbody>

</table>
<!-- Điều hướng phân trang -->
<div>
    <a class="btn btn-primary"
       th:if="${blog.hasPrevious()}"
       th:href="@{/blog(page=${blog.number - 1}, size=${blog.size}, sort='id')}">
        Previous
    </a>

    <span th:text="${blog.number + 1}"></span> | <span th:text="${blog.totalPages}"></span>

    <a class="btn btn-primary"
       th:if="${blog.hasNext()}"
       th:href="@{/blog(page=${blog.number + 1}, size=${blog.size}, sort='id')}">
        Next
    </a>
</div>

</body>
</html>